.emoji {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  overflow: hidden;
}

.home-img {
  flex: 1 1;
  position: relative;
}

.text-cont {
  flex: 1 1;
  position: relative;
}

.btn {
  transition: 0.5s;
}

.btn:hover,
.conta-btn:hover {
  background-color: #f1f1f1;
  color: #800020;
  font-weight: bolder;
}

.conta-btn {
  color: #f1f1f1;
}

.skills {
  width: 2rem;
}

.ugo1 {
  width: 5rem;
}

.hero-img {
  border-radius: 30px;
  width: 20rem;
}
@media screen and (max-width: 480px) {
  .home-img {
    padding: 0 3rem;
  }

  .main-home {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .text-cont {
    background-color: rgba(255, 255, 255, 0.589);
    font-weight: bolder;
  }
}
